<!DOCTYPE html>
<html ng-app="myApp" id="myApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Clase 8 - 12NOV21</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="./main.js"></script>

</head>

<body ng-controller="myController">
    {{msg}}
    <br>
    <a href="javascript:;" id="lbtnTest"> Llamar alert! </a>



    <form>
        {{todos}}
        <div class="form-group">
            <label for="valor">Cedula:</label><br>
            <input type="text" class="form-control input-lg text-center" placeholder="Inserta la cedula" id="cedula"
                ng-model="formData.cedula"><br>
            <label for="valor">Nombre:</label><br>
            <input type="text" class="form-control input-lg text-center" placeholder="Inserta el nombre"
                ng-model="formData.nombre"><br>
            <label for="valor">Clave:</label><br>
            <input type="text" class="form-control input-lg text-center" placeholder="Inserta la clave"
                ng-model="formData.clave">


        </div>
        <button class="btn btn-primary btn-lg" ng-click="createTodo()">Añadir</button>
    </form>
</body>

</html>